 @charset="utf-8";
*{margin:0;padding:0;border:0;}
img{border:none;}
ul ol{list-style:none;}
textarea{resize:none;}
a{text-decoration:none;}

.content_main{
            width: 1200px;
            /*height: 800px;*/
            margin: 0 auto;
}
.chart_main{
    width: 100%;
    height: 300px;
    display: flex;
    margin-top:50px;
}
.c_div{
         flex:1;
        height: 300px;
        margin:15px;
        padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 15px #ccc;
}